#we dont need core sşnce the scheduler host is already passsed on cli via --scheduler-host luigid
# and keeping it waasa giving harmless but unnecessary warnings
[scheduler]
record_task_history=false

[worker]
keep_alive=false
ping_interval=10
wait_interval=2
